/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");
body {
  font-family: "Poppins", sans-serif;
  color: #00004E;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*COLOR PARA LOS TEXTOS PRINCIPALES*/
.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: #FF9800;
}

/*header section*/
.hero_area {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  min-height: auto;
}

.header_section {
  background-color: #00004E;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #C6D3FF;
  text-align: center;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #FF9800;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 32px;
  height: 6px;
  background-color: #FF9800;
  border-radius: 20px;
  margin: 10px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FF9800;
  border-radius: 15px;
  top: -10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #FF9800;
  margin-right: 35px;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-right: 5px;
}
/*end header section*/

/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #ffffff; /* background del primer secmento*/
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel {
  width: 100%;
  z-index: 3;
}

.slider_section .detail-box {
  color: #00004E;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.slider_section .detail-box p {
  margin: 25px 0;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}
/*EFECTOS EN LOS BOTONES PARA INICIAR SESION*/
.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 20px 25px;
  background-color: #FF9800;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #FF9800;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: transparent;
  color: #FF9800;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 20px 25px;
  background-color: #00004E;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #00004E;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: transparent;
  color: #00004E;
}
/*FIN EFECTO DE BOTON INICIO*/

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}
/*EFECTOS PARA EL CARUSEL DE IMAGENESA*/
.slider_section .carousel-indicators li {
  background-color: #00004E;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 17px;
  height: 17px;
  background-color: #FF9800;
}
/*FIN DE EFECTO CARUSEL DE IMAGENES*/

/*INICIO DE EFECTO DE CAJAS CON IMAGENES DE COMERCIOS*/



.heading_container h2{
  color: #FF9800;
}
.furniture_section .box {
  margin-top: 45px;
  background-color: #C6D3FF;
  padding: 25px;
  border-radius: 5px;
}
.furniture_section .box {
  margin-top: 45px;
  background-color: #C6D3FF;
  padding: 25px;
  border-radius: 5px;
}
.furniture_section .box a {
  text-transform: uppercase;
  font-size: 15px;
}

.furniture_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 275px;
  padding: 25px;
}
.furniture_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
}
.furniture_section .box .img-box  {
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  display: inline-block;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.furniture_section .box .detail-box {
  margin-top: 15px;
}

.furniture_section .box .detail-box h5 {
  text-transform: uppercase;
  font-size: 18px;
  color: #00004E
}

.furniture_section .box .detail-box h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #00004E
}

.furniture_section .box .detail-box .price_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.furniture_section .box .detail-box .price_box .price_heading {
  margin-bottom: 0;
}

.furniture_section .box .detail-box .price_box .price_heading span {
  color: #FF9800;
}

.furniture_section .box .detail-box .price_box a {
  color: #FF9800;
  text-transform: uppercase;
  font-size: 15px;
}

/*FIN CAJAS DE COMERCIOS*/

/*SECCION ABOUT US*/
.about_section {
  background-color: #00004E;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #5B7DCF;
  color: #00004E;
  border-radius: 0;
  border: 1px solid #5B7DCF;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #5B7DCF;
}
.about_section .detail-box p {
  font-size: 15px;
  color: #FF9800;
}

.blog_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
/* <-- end about section -->*/

/*INICIO DE LOS BANERS DE RESERVAS*/
.blog_section .box {
  margin-top: 55px;
  background-color: #5B7DCF;
  -webkit-box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25);
}

.blog_section .box .img-box {
 position: relative;
}

.blog_section .box .img-box img {
  width: 100%;
 
}

.blog_section .box .detail-box {
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
  color: #ffffff;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #FF9800;
  color: #00004E;
  border-radius: 0;
  border: 1px solid #FF9800;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog_section .box .detail-box a:hover {
  background-color: transparent;
  color: #FF9800;
}
/*FINAL DE IMAGENES BANER */

/* PARTE INFORMACION DEVELOPERS*/
.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px;
  padding: 35px 25px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.client_section .box .img-box {
  border-radius: 100%;
  border: 10px solid #5B7DCF;
  margin-right: 25px;
  min-width: 175px;
  max-width: 175px;
  overflow: hidden;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.client_section .box .detail-box .name {
  text-align: center;
}

.client_section .box .detail-box .name img {
  width: 25px;
  margin-bottom: 5px;
}

.client_section .box .detail-box .name h6 {
  color: #FF9800;
  font-size: 20px;
}

.client_section .carousel_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #00004E;
  background-position: center;
  border-radius: 100%;
  margin: 0 2.5px;
}

.client_section .carousel-control-prev:hover,
.client_section .carousel-control-next:hover {
  background-color: #FF9800;
}
/*FIN INFO DEVOPS */

/* CONTACTO */
.client_section .carousel-control-next {
  left: initial;
}

.contact_section {
  position: relative;
  background-color: #00276C;
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact_section .heading_container {
  margin-bottom: 25px;
}

.contact_section .heading_container h2 {
  text-transform: uppercase;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #333;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::placeholder {
  color: #333;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #6bb7be;
}

.contact_section .map_container {
  height: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
}

.contact_section .map_container .map {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.info_section {
  background-color: #FF9800;
  color: #00004E;
  padding-top: 45px;
  padding-bottom: 45px;
}

.info_section .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  text-align: center;
}

.info_section .contact_nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00004E  ;
}

.info_section .contact_nav a i {
  font-size: 28px;
}

.info_section .contact_nav a:hover {
  color: #C6D3FF;
}

.info_section .info_top {
  padding: 45px 0;
}

.info_section h4 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.info_section .info_links .info_links_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links .info_links_menu a {
  color: #00004E;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.info_section .info_links .info_links_menu a:hover, .info_section .info_links .info_links_menu a.active {
  color: #5B7DCF;
}

.info_section .info_post .post_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_post .post_box .img-box {
  min-width: 65px;
  max-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5B7DCF;
  -ms-flex-preferred-size: calc(33% - 10px);
      flex-basis: calc(33% - 10px);
  padding: 10px;
  margin: 5px;
}

.info_section .info_post .post_box .img-box img {
  max-width: 100%;
  max-height: 100%;
}

.info_section .info_post .post_box p {
  margin: 0;
}

.info_section .info_post .post_box:not(:nth-last-child(1)) {
  margin-bottom: 15px;
}

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 25px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;
}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #6bb7be;
}

.info_section .info_form .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.info_section .info_form .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #00004E;
  color: #00004E;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .info_form .social_box a:hover {
  color: #00004E;
  border-color: #00004E;
}

/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
}

.footer_section p {
  color: #000000;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */


/* Estilos básicos del contenedor */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;  /* Asegura que todo esté centrado en el contenedor */
}

/*EL CONTENEDOR PARA EL BUSCARDOR*/
/* Estilos básicos del contenedor */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;  /* Asegura que todo esté centrado en el contenedor */
}

/* Contenedor de la barra de búsqueda */
.search-container {
  margin-top: 0px;    /* Espacio en la parte superior para separar del texto anterior */
  display: flex;       /* Hace que los elementos internos estén en línea */
  justify-content: center; /* Centra los elementos internos horizontalmente */
  align-items: center;     /* Centra los elementos internos verticalmente */
}

/* Estilos para el campo de entrada */
.search-input {
  padding: 10px 15px;
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;  /* Bordes redondeados sólo en el lado izquierdo */
  font-size: 16px;
  outline: none;
}

/* Estilos para el botón */
.search-button {
  padding: 10px 55px;
  border: none;
  background-color: #007BFF;  /* Puedes cambiar el color si lo deseas */
  color: white;
  cursor: pointer;
  border-radius: 0 4px 4px 0;  /* Bordes redondeados sólo en el lado derecho */
  font-size: 16px;
  transition: background-color 0.3s ease;  /* Suaviza el cambio de color en el hover */
}

.search-button:hover {
  background-color: #0056b3;  /* Color más oscuro en hover */
}
/* search box for the restaurants */
.search-box {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}

.search-box input {
  padding: 10px;
  padding-right: 35px;
  width: 45%;
  border-radius: 5px 0 0 5px;
  border: 1px solid #5B7DCF;
  outline: none;
}

.search-box button {
  background-color:#FF9800;
  padding: 10px 15px;
  position: relative;
  border: 0;
  right: 0;
  bottom: 0; 
  right: 0;
  border-radius: 0 5px 5px 0;
  color:#00004E;
  cursor: pointer;
}
/* end search box for the restaurants */